<fieldset class="flex flex-col justify-start items-stretch gap-6 my-4">
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div role="alert" class="alert alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{ error }}</span>
    </div>
    {% endfor %}
    {% endif %}
    {% for field in form %}
    <div class="">
        {{ field.errors }}
        <label class="input input-bordered flex items-center gap-2" for="{{ field.id_for_label}}">
            <span class="font-semibold">{{ field.label }}</span>
            {{ field }}
        </label>
        {% if field.help_text %}
        <small>{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% endfor %}
</fieldset>