{% extends 'counts/base.html' %}

{% block content %}
<section class="container mx-auto mt-8 px-4 max-w-[500px]">
    <h1 class="text-5xl my-2">Change Password</h1>
    <article class="container mx-auto sm:px-4">
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <div class="flex flex-row justify-end mt-2 gap-2">
                <a class="btn btn-outline" href="{% url 'profile' %}">Cancel</a>
                <button class="btn btn-primary" type="submit">Change Password</button>
            </div>
        </form>
    </article>
</section>
{% endblock content %}