@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    textarea {
        @apply bg-transparent w-full h-full m-0 p-[1rem];
    }

    .field-error .input {
        @apply input-error;
    }

    .checkbox-field input[type="checkbox"] {
        @apply checkbox checkbox-primary;
    }
}