{% extends 'counts/base.html' %}
{% block content %}
<section class="container mx-auto max-w-[800px]">
    <div class="flex flex-row justify-end gap-2">
        <a class="btn btn-ghost">View Public Profile</a>
        <a class="btn btn-primary" href="{% url 'profile-update' %}">Edit Profile</a>
    </div>
    <div class="flex flex-row justify-between items-start my-6">
        <div class="">
            <h1 class="text-5xl">Your Profile</h1>
            <p class="text-2xl my-1">Hi {{ user.username }}!</p>
            <div class="flex flex-row justify-start items-center gap-2 my-4">
                <p class="text-xl">Your email is: {{ user.email }}</p>
                <a class="btn btn-primary btn-sm" href="{% url 'account_email' %}">Manage Emails</a>
            </div>
            <a class="btn btn-primary btn-sm" href="{% url 'account_change_password' %}">Change Password</a>
        </div>
        <div class="avatar">
            <div class="w-[13rem] rounded-xl">
                <img class="" src="{{ profile.profileImage.url }}" alt="Profile Picture">
            </div>
        </div>
    </div>


</section>
{% endblock content %}